@charset "utf-8";

*{
    margin:0;
    padding:0;
}
/* 선택자 문법으로
   클래스 선택자는 
   .avatar-img
*/
html {
    scroll-behavior: smooth;
}
.block {
    display: block;
}

.text-center{
    text-align: center;
}
.avatar-img{
    margin: 85px;
}
.inline-block{
    color:rgb(131, 123, 128);
    display: inline-block;
}

h1{
   text-align: center;
   text-transform: uppercase;
   font-size: 20px;
}

h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}


p{
    text-align: center;
    margin: 10px;
    font-weight:900;
}
.p-0{
    padding: 0px;
}
.m-10{
    margin:10px;
}

/* 아이디 선택자- 문서 내에서 한번만 */
#light{
    background-color:rgb(84, 170, 98);
}

.section3 {
      background-color:rgb(84, 170, 98) ;
      font-size: 14px; 
      padding: 8px;
}